:root{
    a, a:visited{
        color: $black;
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover, &:active, &:focus{
            color: $black;
            text-decoration: none;
            outline: none;
        }
    }
}
