
// Core styles

body{
    font-family: $font-main;
    color: $black;
}

.container{
    margin-top: 8rem;
    position: relative;
    @media (max-width: $screen-sm-min) {
        margin-top: 4rem;
    }
}

.container-fluid{
}

.wow{
    visibility: hidden;
}

/* ---------------------------- Site wide / Defaults / Resets ---------------------------- */

// Images

img{
    width: 100%;
}

#header{
    h1{
        font-size: 10rem;
        letter-spacing: 0.2rem;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        @media (max-width: $screen-sm-min) {
            font-size: 6rem;
        }
    }
    .siteTitle{
        z-index: 3;
    }
}

.about{
    margin: 2rem 0 3rem;
    p{
        font-size: 1.2rem;
        letter-spacing: 0.04rem;
    }
}

.description{
    margin: 2rem 0 3rem;
    .descriptionTitle{
        z-index: 3;
        margin-top: -15rem;
        margin-left: 3rem;
        @media (max-width: $screen-sm-min) {
            margin-top: 0;
            margin-left: 0;
        }
        h3{
            font-size: 6rem;
            letter-spacing: 0.02rem;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            //word-spacing: 100px;
            @media (max-width: $screen-sm-min) {
                font-size: 3rem;
            }
        }
    }
    p{
        font-size: 1.2rem;
        letter-spacing: 0.04rem;
    }
}

.work{
    .workHero{
        z-index: 2;
        h2{
            display: block;
            font-size: 10rem;
            z-index: 999;
            letter-spacing: 0.2rem;
            line-height: 1;
            text-transform: uppercase;
            font-weight: 700;
            transform: rotate(90deg);
            @media (max-width: $screen-sm-min) {
                font-size: 6rem;
            }
        }
    }
    h3{
        font-size: 6rem;
        letter-spacing: 0.02rem;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        word-spacing: 100px;
        @media (max-width: $screen-sm-min) {
            font-size: 3rem;
            word-spacing: normal;
        }
    }
    .workTitle{
        z-index: 2;
    }
    .workSpace{
        margin-top: -10rem;
        margin-bottom: 12rem;
        z-index: 1;
        @media (max-width: $screen-sm-min) {
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

.workGallery{
    margin-top: -17rem;
    @media (max-width: $screen-sm-min) {
        margin-top: 2rem;
    }
    img{
        margin-bottom: 6rem;
        @media (max-width: $screen-sm-min) {
            margin-bottom: 3rem;
        }
    }
}

.email{
    text-align: right;
    h4{
        font-size: 3rem;
        letter-spacing: 0.02rem;
        line-height: 1;
        text-transform: uppercase;
        font-weight: 700;
        @media (max-width: $screen-sm-min) {
            font-size: 1.6rem;
        }
    }
}

#footer{
    margin: 6rem 0 6rem;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    color: #CCC;
    @media (max-width: $screen-sm-min) {
        font-size: 1rem;
    }
}
