{% extends "_layout" %}
{% set title = "404" %}

{% block content %}
	<div class="row">
		<div class="col-lg-3">
		</div>
		<div class="col-lg-9">
			<h1>404</h1>

			<p>Page not found.</p>
		</div>
	</div>
{% endblock %}
