<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<meta name="description" content="Louis Ferens, Finding gratification in the creation and understanding of objects and designs." />
	<link rel="home" href="{{ siteUrl }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#222222">
	<meta name="theme-color" content="#ffffff">

	<meta property="og:title" content="Louis Ferens"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="https://louisferens.com/"/>
	<meta property="og:description" content="Louis Ferens, Finding gratification in the creation and understanding of objects and designs."/>
	<meta property="og:image" content="https://louisferens.com/assets/img/social.jpg"/>
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="630" />
	<meta property="og:site_name" content="Louis Ferens"/>

	{% includeCssFile "/assets/css/site.min.css?v=1.2" %}
	{% includeCssFile "/assets/css/vendor.min.css?v=1.0" %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

	{% includeJsFile "/assets/js/main.min.js?v=1.1" %}
	{% includeJsFile "/assets/js/vendor.min.js?v=1.0" %}

</head>

<body>
	<div class="container">
		<header id="header">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 siteTitle">
					<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				</div>
			</div>
		</header>

		<main id="content" role="main">
			{% block content %}
			{% endblock %}
		</main>

		<section class="email wow fadeIn" data-wow-delay="0.2s">
			<h4><a href="louisferens@mail.com">louis<br />ferens<br />@ mail<br />. com</a></h4>
		</section>

		<footer id="footer" class="wow fadeIn" data-wow-delay="0.4s">
			&copy; Louis<br />
			Ferens<br />
			{{ now.year }}
		</footer>
	</div>
</body>
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107340172-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-107340172-1');
</script>
</html>
