{% extends "_layout" %}

{% block content %}

	<section class="about">
		<div class="row">
			<div class="col-xs-9 col-sm-6 col-md-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
				<p>{{ entry.about|nl2br }}</p>
			</div>
			<div class="col-xs-3 col-sm-6 col-md-6 col-lg-9">
			</div>
		</div>
	</section>

	<section class="work">
		<div class="row">
			<div class="col-xs-9 col-sm-9 col-lg-9">
			</div>
			<div class="col-xs-3 col-sm-3 col-lg-3 workHero wow fadeInDown" data-wow-delay="0.6s">
				<h2>Work</h2>
			</div>
		</div>

		{% for entry in craft.entries.section('work') %}
			<div class="row">
				<div class="col-lg-1">
				</div>
				<div class="col-xs-3 col-sm-3 col-lg-3 workTitle wow fadeInUp" data-wow-delay="0.4s" data-wow-offset="-400">
					<a href="{{ entry.url }}"><h3>{{ entry.title }}</h3></a>
				</div>
				<div class="col-xs-9 col-sm-9 col-lg-8">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
				</div>
				<div class="col-lg-10 workSpace wow fadeIn" data-wow-delay="0.8s" data-wow-offset="-400">
					{% set images = entry.heroImage %}
					{% if images and images|length %}
						{% for image in images %}
							<a href="{{ entry.url }}"><img src="{{ image.getUrl('work') }}" title="{{ entry.heroImageTitle }}" alt="{{ entry.heroImageTitle }}"></a>
						{% endfor %}
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</section>

{% endblock %}
