{% extends "_workLayout" %}

{% block content %}

	<section class="description">
		<div class="row">
			<div class="col-xs-6 col-sm-3 col-md-4 col-lg-3 wow fadeIn" data-wow-delay="0.4s">
				<p>{{ entry.description|nl2br }}</p><br /><br />
			</div>
			<div class="col-md-8 col-lg-9 workGallery wow fadeInUp" data-wow-delay="0.8s">
				{% for block in entry.gallery %}
					{% set images = block.galleryImage %}
					{% if images and images|length %}
						{% for image in images %}
							<img src="{{ image.getUrl('work') }}" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
						{% endfor %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-lg-3">
			</div>
			<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 descriptionTitle wow fadeInDown" data-wow-delay="1s" data-wow-offset="-400">
				<h3>{{ entry.title }}</h3>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-6 col-lg-7">
			</div>
		</div>
	</section>

{% endblock %}
